:root {
    --mouseX: 50%;
    --mouseY: 50%;
    padding: 0;
    background-color: #1a1a1a;
    scroll-snap-type: y proximity;
    overflow-x: hidden;
}
#parallax {
    height: 100vh;
    width: 100vw;
    filter: blur(4px);
    -webkit-filter: blur(4px);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://images.unsplash.com/photo-1505238680356-667803448bb6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
    background-position: var(--mouseX) var(--mouseY);
    -webkit-animation: kenburns-top 2.5s ease-out both;
    animation: kenburns-top 2.5s ease-out both;
}
@-webkit-keyframes kenburns-top {
    0% {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
        -webkit-transform-origin: 50% 16%;
        transform-origin: 50% 16%;
    }
    100% {
        -webkit-transform: scale(1.05) translateY(-30px);
        transform: scale(1.05) translateY(-30px);
        -webkit-transform-origin: top;
        transform-origin: top;
    }
}
@keyframes kenburns-top {
    0% {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
        -webkit-transform-origin: 50% 16%;
        transform-origin: 50% 16%;
    }
    100% {
        -webkit-transform: scale(1.05) translateY(-30px);
        transform: scale(1.05) translateY(-30px);
        -webkit-transform-origin: top;
        transform-origin: top;
    }
}

.cv-item {
    scroll-snap-align: start;
    height: 100vh;
}
.appearing {
    animation: appear linear 800ms;
}
.appearingDelayed1 {
    animation: appear linear 2500ms ;
}
.appearingDelayed2 {
    animation: appear linear 3000ms ;
}
.scaling {
    animation: scale-up-center 1000ms ease-in both;
    -webkit-animation: scale-up-center 1000ms ease-in both;
}

.scaleOnHover {
    transition: transform .5s;
}
.scaleOnHover:hover {
    transform: scale(1.1);
}

.puff-in-bottom {
    -webkit-animation: puff-in-bottom 1000ms cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation: puff-in-bottom 1000ms cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

.tracking-in-expand-delay1 {
    -webkit-animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 400ms both;
    animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 400ms both;
}
.tracking-in-expand-delay2 {
    -webkit-animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1000ms both;
    animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1000ms both;
}
.tracking-in-expand-delay3 {
    -webkit-animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1400ms both;
    animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1400ms both;
}

.section {
    padding: 1vw 4vw 1vw 4vw;
    -webkit-animation: 3s ease 0s normal forwards 1 appear;
    animation: 3s ease 0s normal forwards 1 appear;
}
.text {
    font-family: "Avenir Next Condensed", monospace;
}

.title {
    font-family: "Avenir", monospace;
    text-shadow: #000 -10px -10px 2px;
}

#icon-section i {
    font-size: 80px;
    color: white;
    padding: 25px;
    transition: transform .5s;
}
#icon-section img {
    width: 110px;
    color: white;
    padding: 25px;
    transition: transform .5s;
}

#icon-section i:hover {
    transform: scale(1.3) rotateZ(360deg);
}
#icon-section img:hover {
    transform: scale(1.3) rotateZ(360deg);
}

.gh-icon {
    font-size: 55px;
    display: block;
    margin: auto;
    text-align: center;
    color: #fff;
}
.gh-icon i {
    transition: transform .5s;
}
.gh-icon i:hover {
    transform: scale(1.3);
}
@keyframes appear {
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes appear{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

@keyframes circle {
    from { transform: rotate(0deg) translateX(50px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(50px) rotate(-360deg); }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-8-23 0:50:30
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-diagonal-1
 * ----------------------------------------
 */
@-webkit-keyframes rotate-diagonal-1 {
    0% {
        -webkit-transform: rotate3d(1, 1, 0, 0deg);
        transform: rotate3d(1, 1, 0, 0deg);
    }
    50% {
        -webkit-transform: rotate3d(1, 1, 0, -180deg);
        transform: rotate3d(1, 1, 0, -180deg);
    }
    100% {
        -webkit-transform: rotate3d(1, 1, 0, -360deg);
        transform: rotate3d(1, 1, 0, -360deg);
    }
}
@keyframes rotate-diagonal-1 {
    0% {
        -webkit-transform: rotate3d(1, 1, 0, 0deg);
        transform: rotate3d(1, 1, 0, 0deg);
    }
    50% {
        -webkit-transform: rotate3d(1, 1, 0, -180deg);
        transform: rotate3d(1, 1, 0, -180deg);
    }
    100% {
        -webkit-transform: rotate3d(1, 1, 0, -360deg);
        transform: rotate3d(1, 1, 0, -360deg);
    }
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


@-webkit-keyframes scale-up-top {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
}
@keyframes scale-up-top {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
}

@-webkit-keyframes puff-in-bottom {
    0% {
        -webkit-transform: scale(2);
        transform: scale(2);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
@keyframes puff-in-bottom {
    0% {
        -webkit-transform: scale(2);
        transform: scale(2);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}
@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

